body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.wrapper{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#7b0f14;
    color:white;
    padding-top:20px;
    position:fixed;
    height:100%;
}

.logo-area{
    text-align:center;
    margin-bottom:30px;
}

.logo{
    width:90px;
    margin-bottom:10px;
}

.menu{
    list-style:none;
    padding:0;
}

.menu li{
    margin:5px 0;
}

.menu a{
    display:block;
    padding:15px 20px;
    color:white;
    text-decoration:none;
    transition:0.3s;
    font-size:16px;
}

.menu a:hover{
    background:#a61c22;
    padding-left:30px;
}

.logout{
    margin-top:40px;
}

/* CONTENIDO */

.content{
    margin-left:260px;
    padding:30px;
    width:100%;
}







/*TABLA DENTRO DE ALTA CONCESIONES*/

/* TABLA */
table.dataTable thead {
    background: #7b002c !important;
    color: white !important;
}

table.dataTable thead th {
    color: white !important;
}

/* PAGINACIÓN */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #7b002c !important;
    color: white !important;
    border-radius: 8px;
    border: none !important;
}
/*
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #9d174d !important;
    color: white !important;
}
*/
/* BOTONES */
/*
.btn-danger{
    background:#7b002c;
    border:none;
}

.btn-danger:hover{
    background:#9d174d;
}
*/
/* INPUT BUSCAR */

.dataTables_filter input{
    border-radius:10px;
    border:1px solid #ccc;
    padding:5px 10px;
}

/* SELECT REGISTROS */

.dataTables_length select{
    border-radius:10px;
    padding:5px;
}

/* TABLA */

.dataTable{
    border-radius:10px;
    overflow:hidden;
}



/* =========================
   ENCABEZADO ROJO
========================= */

#tablaConcesiones thead,
#tablaConcesiones thead tr,
#tablaConcesiones thead th{
    background-color:#7b002c !important;
    color:white !important;
    border-color:#7b002c !important;
    text-align:center;
}


/* =========================================
   TABLA VEHÍCULOS
========================================= */

#tablaVehiculos thead,
#tablaVehiculos thead tr,
#tablaVehiculos thead th{

    background-color:#7b002c !important;
    color:white !important;
    border-color:#7b002c !important;
    text-align:center;
}




/* =========================================
   TABLA OPERADORES
========================================= */

#tablaOperadoresData thead,
#tablaOperadoresData thead tr,
#tablaOperadoresData thead th{

    background-color:#7b002c !important;
    color:white !important;
    border-color:#7b002c !important;
    text-align:center;
}





/* Hover filas */

#tablaVehiculos tbody tr:hover{
    background:#f5d6df !important;
}

/* =========================
   PAGINACIÓN ROJA
========================= */
/*
.dataTables_wrapper .dataTables_paginate .paginate_button{
    background:transparent !important;
    color:#7b002c !important;
    border-radius:8px !important;
    border:1px solid #7b002c !important;
    margin:2px;
    padding:5px 12px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background:#7b002c !important;
    color:white !important;
    border:1px solid #7b002c !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background:#9d174d !important;
    color:white !important;
    border:1px solid #9d174d !important;
}
*/
/* =========================
   TEXTO INFO
========================= */

.dataTables_info{
    color:#7b002c !important;
    font-weight:bold;
}

/* =========================
   BUSCADOR
========================= */

.dataTables_filter label{
    color:#7b002c;
    font-weight:bold;
}

.dataTables_filter input{
    border-radius:10px;
    border:2px solid #7b002c;
    padding:5px 10px;
}

/* =========================
   SELECT MOSTRAR
========================= */

.dataTables_length label{
    color:#7b002c;
    font-weight:bold;
}

.dataTables_length select{
    border-radius:10px;
    border:2px solid #7b002c;
}
*/
/* =========================
   TABLA
========================= */
/*
#tablaConcesiones{
    border-radius:15px;
    overflow:hidden;
}
*/

/* Hover filas */
/*
#tablaConcesiones tbody tr:hover{
    background:#f5d6df !important;
}
*/





/* =========================================
   PAGINACIÓN ROJA SGT
========================================= */

.dataTables_wrapper .dataTables_paginate .pagination .page-link{
    
    /*color:#7b002c !important;*/
    color:black !important;
    border:1px solid #7b002c !important;
    background:white !important;

    padding:10px 16px;
    font-weight:bold;
    font-color:black;
}

/* BOTÓN ACTIVO */

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link{

    background:#7b002c !important;
    border-color:#7b002c !important;
    color:white !important;


    box-shadow:#c47394 !important;
}

/* HOVER */

.dataTables_wrapper .dataTables_paginate .pagination .page-link:hover{

    background:#9d174d !important;
    color:white !important;
    border-color:#9d174d !important;
}

/* FOCO */

.page-link:focus{
    box-shadow:#c90048 !important;
}

/* REDONDEADO */
/*
.pagination{
    border-radius:12px;
    overflow:hidden;
}
*/




/* =========================================
   FORZAR COLOR NEGRO PAGINACIÓN DATATABLE
========================================= */


.page-link:focus{

    box-shadow: #9d174d !important;

}

.page-link{

    color:black !important;

}





/* =========================================
	NAVEGACIÓN DE INSPECCIÓN
========================================= */


.nav-tabs .nav-link{
    color:#7A0026;
    font-weight:600;
}

.nav-tabs .nav-link.active{
    color:#fff;
    background:#7A0026;
    border-color:#7A0026;
}

.tab-content{
    padding:20px;
    border:1px solid #dee2e6;
    border-top:none;
    background:#fff;
    border-radius:0 0 10px 10px;
}


